:root {
    /* colors */
    --clr-paleblue: hsl(243, 100%, 93%);
    --clr-grayishblue: hsl(229, 7%, 55%);
    --clr-darkblue: hsl(228, 56%, 26%);
    --clr-verydarkblue: hsl(229, 57%, 11%);
    --clr-gradient-left: hsl(6, 100%, 80%);
    --clr-gradient-right: hsl(335, 100%, 65%);
    --fw-normal: 400;
    --fw-bold: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #003;
    background-image: url(images/bg-mobile.png);
    background-size: cover;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    width: 100%;
}

header,
section {
    width: 100%;
    background-color: var(--clr-darkblue);
    padding: 2.25rem;
    border-radius: 10px;
    flex-basis: 100%;
    box-shadow: 0 35px 55px -25px var(--clr-verydarkblue);
}

header {
    max-width: 350px;
    border-top-right-radius: 100px;
    margin-bottom: 1rem;
}

header>img {
    margin-bottom: 2rem;
}

.icons {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 3rem);
    grid-template-rows: 3rem;
}

.icon {
    width: 100%;
    height: 100%;
    background-color: var(--clr-verydarkblue);
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

section {
    position: relative;
    max-width: 350px;
    padding-bottom: 5rem;
    margin-bottom: 2.25rem;
}

p {
    margin-top: 0;
    color: var(--clr-paleblue);
    opacity: 0.8;
    text-align: center;
}

.progress-container {
    width: 100%;
    height: 1.2rem;
    background-color: var(--clr-verydarkblue);
    border-radius: 1rem;
    border: 2px solid var(--clr-verydarkblue);
}

.progress-fill {
    position: relative;
    width: 81.5%;
    height: 100%;
    border-radius: 1rem;
    background: linear-gradient( 90deg, var(--clr-gradient-left), var(--clr-gradient-right));
}

.progress-fill::after {
    position: absolute;
    content: '';
    right: 3px;
    top: 1.5px;
    height: 0.65rem;
    width: 0.65rem;
    border-radius: 1rem;
    background-color: white;
}

.markers {
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    padding: 0.7rem 0 3rem;
}

.remaining {
    position: absolute;
    top: 100%;
    left: 50%;
    font-size: smaller;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    background-color: white;
    color: var(--clr-verydarkblue);
    text-transform: uppercase;
    width: fit-content;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
}

.remaining strong {
    font-size: 2.5rem;
    margin-right: 0.3ch;
}

.attribution {
    position: absolute;
    bottom: 10px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 968px) {
    body {
        background-image: url(images/bg-desktop.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: auto;
    }
    main {
        flex-direction: row;
        align-items: flex-end;
    }
    header,
    section {
        margin-bottom: 0;
    }
    section {
        max-width: 540px;
        margin-left: 2rem;
        padding-top: 2.25rem;
        padding-bottom: 4rem;
    }
    p {
        text-align: left;
    }
    .remaining {
        left: 100%;
        top: 0;
        transform: translate(-120%, -70%);
    }
    .arrow {
        position: absolute;
        /* display: block; */
        content: '';
        bottom: -1.3rem;
        right: 0;
        border: 1.3rem solid transparent;
        border-right-color: white;
    }
}